<nav class="header" th:fragment="header">
    <div class="header_container">
        <div class="header_head">
            <a class="header_head-brand" href="/">
                <span>HackaMap</span>
            </a>
        </div>
        <!--<div class="header_nav-container">-->
            <ul class="header_nav">
                <li class="header_nav-item app_active-item">
                    <a class="header_nav-item-link" href="#">
                        <span>Sign In/Sign Up</span>
                    </a>
                </li>
                <li class="header_nav-item">
                    <a class="header_nav-item-link" href="#about">
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        <!--</div>-->
    </div>
</nav>