<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>HackaMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->

    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../../styles/main.css" />
</head>
<body>
    <div th:replace="header :: header">...</div>

    <div class="main-about">Find more interesting hackathons for yourself with HackaMap!</div>

    <!--<div th:replace="signin :: signin">...</div>-->

    <!--<script type="text/javascript"-->
            <!--src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>
</html>