<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>HackaMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->

    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../../styles/main.css" />
    <link rel="stylesheet" th:href="@{/styles/auth.css}" href="../../styles/auth.css" />
</head>
<body>

    <div th:replace="header :: header">...</div>
    <!--<nav class="navbar">-->
        <!--<div class="navbar_container">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar_brand" href="/">-->
                    <!--<span>HackaMap</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="navbar" class="collapse navbar-collapse">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="active"><a href="#">Home</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#about">About</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</nav>-->

    <!--<div class="container">-->


    <!--Sign In Form-->
    <div class="auth" th:fragment="signin">
        <a href="/registration">Sign Up</a>
        <h2>Sign In</h2>
        <p class="auth_note app_note">(All fields are required)</p>

        <form class="auth_form" th:action="@{/login}" method="post">
            <p class="auth_error-msg" th:if="${param.error}">Invalid username and password.</p>
            <!--th:text="${param.error}"-->
            <!--<div th:if="${param.error}">-->
                <!--Invalid username and password.-->
            <!--</div>-->

            <input name="username" type="text" placeholder="Username" autofocus="true" />

            <input name="password" type="password" placeholder="Password" />

            <input class="auth_submit-btn" type="submit" title="Submit" />
        </form>

    </div>

    <!--</div>-->


    <!-- /.container -->

    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>