<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>HackaMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->

    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../../styles/main.css" />
    <link rel="stylesheet" th:href="@{/styles/auth.css}" href="../../styles/auth.css" />
</head>
<body>

    <div th:replace="header :: header">...</div>

    <!--Sign In Form-->
    <div class="auth" th:fragment="signin">
        <!--<div class="auth_header"></div>-->
        <a class="auth_link" href="/registration">Sign Up</a>
        <h2 class="auth_header">Sign In</h2>
        <p class="auth_note app_note">(All fields are required)</p>

        <form class="auth_form" th:action="@{/login}" method="post">
            <p class="auth_error-msg" th:if="${param.error}">Invalid username or password.</p>
            <!--th:text="${param.error}"-->
            <!--<div th:if="${param.error}">-->
                <!--Invalid username and password.-->
            <!--</div>-->

            <input name="username" type="text" placeholder="Username" autofocus="true" />

            <input name="password" type="password" placeholder="Password" />

            <input class="auth_submit-btn" type="submit" title="Submit" />
        </form>

    </div>

    <!--</div>-->


    <!-- /.container -->

    <!--<script type="text/javascript"-->
            <!--src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>
</html>