<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HackaMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->

    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../../styles/main.css" />
</head>
<body>
    <div th:replace="header :: header">...</div>
    <!--<nav class="navbar">-->
        <!--<div class="navbar_container">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar_brand" href="/">-->
                    <!--<span>HackaMap</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="navbar" class="collapse navbar-collapse">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="active"><a href="#">Home</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#about">About</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</nav>-->

    <div class="starter-template">
        <h1>All hackathons on map</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
        </h2>
    </div>
</body>
</html>